body{
	overflow-x: hidden;
    width: 100%;
	background-image: url(../img/fondo-contacto.png);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
    background-position: center bottom;
    object-fit: cover;
}
.container h1{
    margin-top: 9rem;
    color: red;
    font-weight: bold;
    font-size: calc(2vh + 2vw);
}
.container #nombre, 
.container #email, 
.container #msj{
    width: 40vw;
    padding: 2% !important;
    margin:0.3rem !important;
    border: none;
    box-shadow: -3px -3px 20px -8px #888888,
    3px 3px 20px -8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container #msj{
    height: 22vh;
}
.container #checkbox, 
.container #send{
    width: 15vw;
    height: 4vh;
    border: none;
    box-shadow: -3px -3px 20px -8px #888888,
    3px 3px 20px -8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container #nombre:focus, 
.container #email:focus, 
.container #msj:focus, 
.container #send{
    outline: none;
}
footer{
    margin-top: 3%;
}
@media (max-width: 767.98px) {
    .container #nombre, 
    .container #email, 
    .container #msj{
        width: 90%;
    }
    .container #checkbox, 
    .container #send{
        width: 35%;
    }
}